<main class="new_registration_wrapper">
  <h1 class="new_registration_logo">Todo.io</h1>
  <div class="new_registration_form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h2>Sign Up</h2>
      <section class="login-fields">
        <div class="email-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="password-confirmation-field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <%= @minimum_password_length %> (characters minimum)
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="password-field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </section>
      <div class="new_session_sign_up_wrapper">
        <%= f.submit "Sign Up" %>
      </div>
    <% end %>
  </div>
  <div class="sign_up_link">
    <p>
      Already have an account? <%= render "devise/shared/sign_in" %>
    </p>
  </div>
  <%= image_tag 'https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg?cs=srgb&dl=pexels-chris-czermak-2444429.jpg&fm=jpg' %>
</main>