
<div class="favorite-container">
  <aside class="favorite-aside">
    <%= link_to root_path, class: 'logo' do %>
      <h1>Tasky</h1>
    <% end %>
    <nav class="favorite_aside_nav">
      <ul>
        <li class="favorite_aside_nav_item">
          <%= octicon "checklist", :height => 24 %>
          <%= link_to 'Listas',todo_lists_path, method: :get  %>
        </li>
        <li class="favorite_aside_nav_item">
          <%= octicon "star", :height => 24 %>
          <%= link_to 'Favoritos', favorites_path, method: :get %>
        </li>
        <li class="favorite_aside_nav_item">
          <%= octicon "package-dependents", :height => 24 %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="header-favorite">
    <h1><%= "#{current_user.name}, aqui estão os seus favoritos" %></h1>
  </header>





  <main class="favorite-main">
    <% current_user.favorites.each do |favorite| %>
      <div class="favorite-card-container">
        <div class="favorite-card-item">
          <h1>
            <%= link_to todo_list_path(favorite.todo_list) do %>
              <%= favorite.todo_list.title %>
            <% end %>
            <i class="fas fa-star"></i>
          </h1>
          <% if favorite.todo_list.personal? %>
            <small class="text-personal">Pessoal</small>
          <% elsif favorite.todo_list.shareable? %>
            <small class="text-public">Pública</small>
          <% end %>
          <span class="badge badge-<%= favorite.todo_list.badge_color %>"><%= favorite.todo_list.status %></span>
          <p class="favorite-completed-tasks"><small><%= favorite.todo_list.percent_complete %> ( <%= favorite.todo_list.completed_tasks %> / <%= favorite.todo_list.total_tasks %> Tarefas )</small></p>

          <%= link_to favorite, method: :delete, data: { confirm: 'Are you sure?' }, class: 'index_delete_btn' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </main>
</div>


