
  <header class="favorite-header">  
    <h1><span><%= "#{current_user.name}" %></span><%= ", suas listas favoritas" %></h1>
  </header>
  <main class="favorite-main">
    <% current_user.favorites.each do |favorite|  %>
      <div class="favorite-card-item">
        <div class="title-section">
          <div class="title-wrapper">
            <h1><%= link_to favorite.todo_list.title, todo_list_path(favorite.todo_list) %></h1>
            <% if favorite.todo_list.personal? %>
              <small class="text-personal">Privada</small>
            <% elsif favorite.todo_list.shareable? %>
              <small class="text-public">Pública</small>
            <% end %>
          </div>
          <span class="badge badge-<%= favorite.todo_list.badge_color %>"><%= favorite.todo_list.status %></span>
        </div>
        
        <div class="card-bottom">
          <p class="completed-tasks">
            <small><%= favorite.todo_list.percent_complete %> ( <%= favorite.todo_list.completed_tasks %> / <%= favorite.todo_list.total_tasks %> Tarefas )</small>
          </p>
          <div class="heart">
            <%= octicon "heart", :height => 30 %>
          </div>
        </div>
      </div>
    <% end %>
  </main>