<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Status</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td><%= task.status %></td>
    <td><%= task.todo_list %></td>
    <td><%= link_to 'Show', [task.todo_list, task] %></td>
    <td><%= link_to 'Edit', edit_todo_list_task_path(task.todo_list, task) %></td>
    <td><%= link_to 'Destroy', [task.todo_list, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Task', new_todo_list_task_path(params[:todo_list_id]) %>