<div class="index-container">
  <aside class="aside">
    <%= link_to root_path, class: 'logo' do %>
      <h1>Tasky</h1>
    <% end %>
    <nav class="aside_nav">
      <ul>
        <li class="aside_nav_item">
          <%= octicon "checklist", :height => 24 %>
          <%= link_to 'Listas',todo_lists_path, method: :get  %>
        </li>
        <li class="aside_nav_item">
          <%= octicon "heart", :height => 24 %>
          <%= link_to 'Favoritos', favorites_path, method: :get %>
        </li>
        <li class="aside_nav_item">
          <%= octicon "package-dependents", :height => 24 %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="new_list">
    <h1><%= "Olá, " %> <span><%= "#{current_user.name}" %></span> </h1>
    <%= link_to new_todo_list_path, class:"new_list_btn" do %>
      <%= octicon "arrow-right", :height => 24 %>
      <%= "Criar" %>
    <% end %>
  </header>

  <main class="index-main">
    <% @todo_lists.each do |todo_list|  %>
      <div class="index-card-container">
        <div class="index-card-item">
          <h1>
            <%= link_to todo_list.title, todo_list_path(todo_list) %>
            <% if todo_list.favorite == true %>
              <i class="fas fa-heart"></i>
            <% end %>
          </h1>
          <% if todo_list.personal? %>
            <small class="text-personal">Privada</small>
          <% elsif todo_list.shareable? %>
            <small class="text-public">Pública</small>
          <% end %>

          <span class="badge badge-<%= todo_list.badge_color %>"><%= todo_list.status %></span>
          <p class="completed-tasks"><small><%= todo_list.percent_complete %> ( <%= todo_list.completed_tasks %> / <%= todo_list.total_tasks %> Tarefas )</small></p>
          <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'index_delete_btn' do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </main>
</div>