<div class="index_wrapper">
  <header class="index_header">
    <%= image_tag ('disable.svg') %>
    <%= link_to 'New List', new_todo_list_path, class: 'new_task_btn' %>
  </header>

  <main class="index_main_wrapper">
    <% @todo_lists.each do |todo_list| %>
        <div class="index_card_wrapper">
        <%= link_to todo_list do %>
          <h1 class="index_title_card_intro">
            <%= todo_list.title %>
            <span class="badge badge-<%= todo_list.badge_color %>"><%= todo_list.status %></span>
          </h1>
          <p class="completed-tasks"><small><%= todo_list.percent_complete %> ( <%= todo_list.completed_tasks %> / <%= todo_list.total_tasks %> Tasks )</small></p>
          <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
          <% end %>
        <% end %>
        </div>
    <% end %>
  </main>
</div>