<div class="container">
  <header>
    <h1>New List</h1>
  </header>

  <main>
    <%= form_with model: @todo_list do |form| %>
      <div class="form_status">
        <%= form.label(:status, "Private") %>
        <%= form.check_box(:status, :personal, checked: true) %>
        <%= form.label(:status, "Public") %>
        <%= form.check_box(:status, :shareable) %>
      </div>
      <div class="name_form">
        <%= form.label :name, 'Name:' %>
        <%= form.text_field :name %>
      </div>

      <%# Adiciona tasks no momento da criação de uma lista %>
      <%= link_to_new_task_fields('Task', form, :task) %>

      <div class="new_actions">
        <%= form.submit 'Save', class: "btn_new_save" %>
        <%= link_to 'Back', todo_lists_path %>
      </div>
    <% end %>
  </main>

  <%# Will only raise when some error occour %>
  <% if @todo_list.errors.any?%>
    <p>You must correct the erros in order to continue:</p>
    <% @todo_list.errors.full_messages.each do |message|  %>
      <p><%= message %></p>
    <% end %>
  <% end %>
</div>
