<div class="show_container">
  <header class="show-header">
    <div class="show_title_wrapper">
      <h1>
        <%= link_to todo_lists_path, class: 'show_back_btn' do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <%= @todo_list.title %>
        <%= link_to favorite_text, favorites_update_path(todo_list: @todo_list), id: 'favorite_link', remote: true  %>
        <% end %>
        <span class="badge badge-<%= @todo_list.badge_color %>"><%= @todo_list.status %></span>
      </h1>
      <p class="completed-tasks"><small><%= @todo_list.percent_complete %> ( <%= @todo_list.completed_tasks %> / <%= @todo_list.total_tasks %> Tasks )</small></p>
      <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'show_edit_btn' %>
    </div>
  </header>
  <div id="progress-bar">
    <div class="progress-bar" role="progressbar" style="width: <%= @todo_list.percent_complete %>%" aria-valuenow="<%= @todo_list.percent_complete %>" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
  <%# Input for new task %>
  <%= form_for([@todo_list, @task]) do |f| %>
    <%= f.text_field :description, class: 'add_task_field', placeholder: 'Enter task name' %>
    <%= f.submit "+ Add", class: 'add_task_btn' %>
  <% end %>

  <main>
    <% @todo_list.tasks.each do |task| %>
      <%# Verifica se a task existe no banco de dados, assim, previne-se que uma 'task fantasma' seja criada %>
      <% if task.persisted? %>
        <% if task.completed? %>
          <div class="show_task_container">
            <%= link_to [task.todo_list, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_task_btn' do %>
              <i class="fas fa-times"></i>
            <% end %>
            <div class="show_task_item">
              <h3><span><%= task.description %></span></h3>
            </div>
            <%= link_to '#', class: 'btn_check_undo', data: { reflex: 'click->Task#mark_incomplete', id: task.id } do %>
              <i class="fas fa-check"></i>
            <% end %>
          </div>
        <% else %>
          <div class="show_task_container">
            <%= link_to [task.todo_list, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_task_btn' do %>
              <i class="fas fa-times"></i>
            <% end %>
            <div class="show_task_item">
              <h3><%= task.description %></h3>
            </div>
            <%= link_to '#', class: 'btn_check_complete', data: { reflex: 'click->Task#mark_complete', id: task.id } do %>
              <i class="fas fa-undo-alt"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </main>
</div>
