<main class="new_session_wrapper">
  <h1 class="new_session_logo">Todo.io</h1>
  <div class="new_session_form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2>Log in</h2>
      <section class="login-fields">
        <div class="email-field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="password-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
      </section>
      
      <div class="new_session_actions">
        <% if devise_mapping.rememberable? %>
          <div class="checkbox-wrapper">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <%= render "devise/shared/forgot" %>
        <% end %>
      </div>

      <div class="new_session_login_wrapper">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
  <div class="sign_up_link">
    <p>
      Don't have an account? <%= render "devise/shared/sign_up" %>
    </p>
  </div>
  
  <%= image_tag 'https://images.pexels.com/photos/2444429/pexels-photo-2444429.jpeg?cs=srgb&dl=pexels-chris-czermak-2444429.jpg&fm=jpg' %>
</main>