<!DOCTYPE html>
<html>
  <head>
    <title>Autoseg Todo Manager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# QUANDO FOR NOTICE %>
  <% if notice %>
    <div id="notice_wrapper">
      <p class="notice">
        <%= octicon "check-circle", :height => 24 %>
        <%= notice %>
      </p>
    </div>
  <%# QUANDO FOR ALERT %>
  <% elsif alert %>
    <div id="alert_wrapper">
      <p class="alert">
        <%= octicon "alert", :height => 24 %>
        <%= alert %>
      </p>
    </div>
  <% end %>
  <%# <% if user_signed_in? %>
    <%# <%= render "shared/navbar" %>
  <%# <% end %>
  
    
    <%= yield %>
  </body>
</html>
